@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

body{
  background-color:rgb(243, 240, 226);
  font-family: 'Assistant';
}

h1{
  /* margin-top: 18px; */
  /* margin-left: 16px; */
  font-size: 30px;
  font-family: 'Oswald';  
  font-weight: 600;
}

h2{
  /* margin-top: 18px; */
  /* margin-left: 16px; */
  font-size: 22px;
  font-family: 'Oswald'; 
  font-weight: 500; 
}

/* .parent {
  width: 100px;
}

img {
  display: block;
  width: 100%;
  height: auto;
} */

.start-order {
  color: white;
}

.menu-style {
  color:black;
}

.item-meal{
  cursor: pointer;
}

.Menu {
  font-size:17px;
  color:black;
  padding: 10px;  
  font-weight: 100;
  /* text-transform: uppercase;   */
}

.Menu-Selected {
  font-size:17px;
  color:black;
  padding: 10px;  
  font-weight: 700;
  text-transform: uppercase;
}

/* Pricing */



.big-price{
  font-family: 'Oswald';
}

label {
  margin-top:8px;
  margin-bottom:0px;
  font-weight: 900;
}

.container {
  padding-top:8px;
}