.App {
  text-align: center;
  padding: 5px;
}

body{
  background-color:rgb(243, 240, 226);
}

.start-order {
  color: white;
}

.menu-style {
  color:black;
}
.App-header {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

