.box{
    /* border: 5px solid red; */
    width: fit-content;		
    /* height: fit-content; */
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    /* border: solid black; */
    background-color: white;
    color: black;
    position: relative;
    text-decoration: none;
    margin-top: 10px;
}
.box a{
    text-decoration: none;
    color: black;
}

.box:hover a{
    text-decoration: none;
    color: black;
}

.itemDescription{
    font-family: 'Open Sans', sans-serif;
    font-size: calc(18px + (24 - 18)*(100vw - 400px)/(1200 - 400));
    margin-top: 10px;
    text-align: left;
    border: rgb(153, 51, 51);
    font-size: 15px;
}     
/* not using in js dealScreen file */
.itemSytle{
    position: relative;
    padding: 8px;
    width: 110%;
    height: 180px;
    /* border: solid red; */
}
.dealHeading{
    font-size: 20px;
}
.colMargin{
    margin-top: 10px;
    border: solid black;
}

